extends layout

block content
	.col-md-8
		h1 Laboratorio 3 - Sistemas Distribuidos
		.panel.panel-primary
			.panel-heading= title
			br
			form(method='post')
				input(type='text', name="filtro")
				input(type='submit', value='Buscar')
				br
				br
				br
				table(border=1, style="width:40%")
					thead
						tr
							th Nombre
							th Apellido
							th Carrera
							th Rut
					tbody
					each item in alumnos
						tr
							td #{item.name} 
							td #{item.apellido}
							td #{item.carrera}
							td #{item.rut}
			br
			br
		a.btn.btn-primary(href='/', role='button') Ingresar alumnos